.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}


.modal__container {
  box-sizing: border-box;
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: #fff;
  cursor: pointer;
  opacity: 40%;
}

.modal__close-btn_type_preview{
  top:0;
  right: -52.5px;
  color: #fff;
  background-color: transparent;
  opacity: 1;
}


.modal__close-btn:hover {
  opacity: 100%;
}

.modal__close-btn_type_preview:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  display: block;
}

.modal__input {
  box-sizing: border-box;
  display: block;
  margin: 8px 0 0;
  max-width: 630px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #21212166;
}


.modal__input:hover {
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}


.modal__error {
  color: red;
  display: block;
  margin-top: 8px;
  font-family:  Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
}

.modal__submit-btn {
  max-width: 156px;
  background-color: #212121;
  border-radius: 8px;
  color: #fcf5e5;
  height: 52px;
  cursor: pointer;
}

#delete-modal .modal__close-btn {
   position: absolute;
  top: 0;
  right: -52.5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
}

#delete-modal .modal__close-btn:hover {
  opacity: 0.4;
}

#delete-modal .modal__container {
  width: 630px;
  font-family: inherit;
  font-size: 16px;
  color: #212121;
  text-align: center;
  padding: 32px 20px;
  border-radius: 8px;
  color: #212121;
}


#delete-modal .modal__title {
   font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}


#delete-modal .modal__submit-btn {
  width: 156px;
  height: 52px;
  padding: 18px 32px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
   font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}


.modal__submit-btn_type_delete {
  background-color: #FF6565;
}

.modal__submit-btn_type_delete:hover {
  background-color: #FF3333;
  cursor: pointer;
}

.modal__submit-btn_type_cancel {
  background-color: #FFFFFF;
  color:#212121
}

.modal__submit-btn_type_cancel:hover {
  background-color: #212121;
  color: #FFFFFF;
  cursor: pointer;
}

.modal__submit-btn_disabled {
  background-color: #212121;
  opacity: 0.5;
}

#delete-modal .modal__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 0;
}

.modal__image  {
  max-width: 80vh;
  max-height: 80vh;
  width:100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
.modal__image-container {
  position: relative;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  width: fit-content;
  height: 24px;
  text-align: center;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}



@media screen and (max-width: 627px) {
  .modal__container {
    padding: 20px;
  }
  .modal__close-btn {
    top: 20px;
    right: 20px;
  }
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
  .modal__input {
    max-width: none;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
.modal__image{
  max-width: unset;
}
 #delete-modal .modal__container {
    width: 300px;
    height: auto;
    padding: 12px;
    gap: 20px;
    position: relative;
  }

  #delete-modal .modal__title {
    font-size: 20px;
    line-height: 100%;
  }

  #delete-modal .modal__form {
    flex-direction: column;
    gap: 12px;
    margin-top: 0;
    align-items: center;
  }

  #delete-modal .modal__submit-btn {
   width: 156px;
   height: 52px;
   padding: 18px 0;
   font-size: 16px;
  }

  #delete-modal .modal__close-btn {
     position: absolute;
    top: -48px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
  }

  #delete-modal .modal__close-btn:hover {
    opacity: 0.4;
  }
}

