.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
}

.profile__avatar-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 190px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  opacity: 0.5;
  background-color: #00000080;
  border: none;
  border-radius: 8px;
  z-index: 2;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}
.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  cursor: pointer;
}


.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  max-width: 420px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  opacity: 0.7;
}

.profile__edit-btn {
  margin-top: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  border: none;
  opacity: 0.7;
  padding: 0;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.profile__add-btn {
  margin-left: auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #212121;
  color: #fff;
  max-width: 157px;
  height: 52px;
  border-radius: 8px;
  margin-top: 138px;
  border: none;
  padding: 18px 32px;
}

.profile__add-btn:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    margin-bottom: 12px;
  }

  .profile__avatar-btn {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    visibility: visible;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
    font-size: 16px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}
